ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: transparent;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    cursor: pointer;
    text-decoration: none;

}